.container-full {
  max-width: 400px;
  border: 2px solid rgb(77, 192, 245);
  padding: 20px 20px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

input.search-city {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
  width: 75%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-left: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgb(77, 192, 245, 0.3);
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 2px;
}

.btn-search {
  color: rgba(48, 41, 41, 0.95);
  font-size: 16px;
  height: auto;
  margin: 2px;
  padding: 5px;
  background-color: rgb(77, 192, 245);
  border: 1px solid rgb(77, 192, 245, 0.8);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

button.btn-search:hover {
  background-color: rgb(77, 192, 245, 0.3);
  color: lightslategray;
  cursor: pointer;
}

.btn-current {
  color: rgba(48, 41, 41, 0.95);
  font-size: 14px;
  height: auto;
  margin: 2px auto 2px 25px;
  padding: 5px;
  position: relative;
  background-color: rgb(98, 197, 111, 0.8);
  border: 1px solid rgb(98, 197, 111, 0.8);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: 1px;
}

button.btn-current:hover {
  background-color: rgba(166, 240, 221, 0.589);
  color: lightslategray;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  color: blue;
  text-indent: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

li {
  display: inline;
  margin: 5px;
  font-family: "Baloo Bhaijaan 2", cursive;
}

li:hover {
  color: blueviolet;
  cursor: pointer;
}

.container {
  border-radius: 5px;
  border: 2px solid rgba(77, 192, 245);
}

table.container-current {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  margin-bottom: 5px;
}

.container-current td,
tr {
  padding: 2px;
  border: 1px dotted rgba(80, 77, 80, 0.1);

}

.container-current .degree-right {
  margin-right: 5px;
  font-family: "Libre Franklin", sans-serif;
  color: grey;
  text-align: center;
}

#celsius,
#farenheit {
  text-decoration: none;

}

.container-current .active {
  color: black;
  font-size: medium;
  text-decoration: none;
  cursor: default;
  font-weight: bolder;
}

.container-current .active:hover {
  text-decoration: none;
}

.container-current .passive {
  color: gray;
  font-size: small;
  text-decoration: none;
}

.container-current .passive:hover {
  text-decoration: underline;
  color: blueviolet;
  cursor: pointer;
}

.main-city {
  text-indent: 20px;
  font-weight: bold;
  padding-left: 5px;
  font-size: 30px;
  text-align: left;
  color: rgba(48, 41, 41, 0.95);
  font-family: "Baloo Bhaijaan 2", cursive;
  text-shadow: 2px 2px 2px rgb(77, 192, 245, 0.3);
}

.current-data {
  color: rgba(48, 41, 41, 0.95);
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  vertical-align: top;
  line-height: 1.5;
}

td.description {
  text-align: center;
  vertical-align: center;
  font-size: 16px;
}

#icon {
  height: 75px;
  width: 75px;
}

#current-condition {
  color: rgba(48, 41, 41, 0.6);
  font-size: 13px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.main-small {
  font-size: 22px;
  font-weight: lighter;
  font-family: "Baloo Bhaijaan 2", cursive;
}

#last-updated {
  color: rgba(48, 41, 41, 0.85);
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 2.5;
}

td.darkgrey {
  color: rgba(48, 41, 41, 0.85);
  font-size: 13px;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

td.emoji-big {
  font-size: 32px;
  color: rgba(48, 41, 41, 0.95);
  font-family: "Baloo Bhaijaan 2", cursive;
  font-weight: 700;
  vertical-align: middle;
}

.container-forecast table {
  width: 75%;
  margin: 5px auto;
  border-collapse: collapse;
  border: 2px solid rgb(77, 192, 245);
  letter-spacing: 1px;
  font-size: 13px;
  font-family: "Libre Franklin", sans-serif;
}

.container-forecast td,
tr {
  padding: 10px;
  text-align: center;
}

td.right-border {
  border-right: 2px dotted lightslategray;
}

.forecast-data {
  background-color: rgb(77, 192, 245, 0.1);
  font-size: 15px;
  font-family: "Baloo Bhaijaan 2", cursive;
  line-height: 1.1;
}

.forecast-emoji {
  font-size: 32px;
}

.forecast-temperature {
  font-size: 15px;
}

.forecast-temperature .small {
  font-size: 12px;
}

p {
  margin-bottom: 0;
  font-size: 12px;
  text-align: right;
  font-family: "Baloo Bhaijaan 2", cursive;
  color: blueviolet;
}

.coder {
  text-decoration: none;
  color: rgb(0, 110, 255);
}

.coder:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.container-forecast {
  opacity: 0.1;
}